@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');
$primary :#6070FF;
$font-family-base: 'Poppins', sans-serif;
$nav-link-color:$primary;
$body-bg:#e5e5e5;
$info:#6b778c;
$list-group-color:#344563;


@import '../node_modules/bootstrap/scss/bootstrap';


section li {
    margin-right: 10px;
}

li{
    list-style-position:inside;
}

